.home{
  display: flex;
}
.home_title{
  font-family: ヒラギノ丸ゴ Pro;
  font-size: 100px;
  padding-top: 5%;
}
.links{
  margin-top: 3px;
  margin-left: 15px;
}
.link {
  font-size: 40px;
  font-family: ヒラギノ丸ゴ Pro;
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
}
.between{
  font-family: ヒラギノ丸ゴ Pro;
  font-size: 50px;
  font-weight: bold
}
.sample01{
  left: 20px;
}
.sample02{
  left: 20px;
}
.privacies{
  margin-left: 550px;
  margin-top: 30px;
}
.terms {
  font-size: 20px;
  font-family: ヒラギノ丸ゴ Pro;
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
}
.privacy {
  font-size: 20px;
  font-family: ヒラギノ丸ゴ Pro;
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
}
.copywrite {
  font-size: 15px;
  font-family: ヒラギノ丸ゴ Pro;
  margin-left: 650px;
  margin-top: 20px;
}