<style>
  .login-title {
    font-family: ヒラギノ丸ゴ Pro;
    text-align: center;
    margin-top: 100px;
  }
  .login-form {
    font-family: ヒラギノ丸ゴ Pro;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
  }
  .to_pas{
    text-decoration: none;
  }
  .to_ac{
    text-decoration: none;
  }
</style>
<h1 class="login-title"><%= (t '.title')%></h1>
<div class="login-form">
<%= render 'form' %>
<br>
<div>パスワードをお忘れの方は<%= link_to 'こちら', new_password_reset_path, {class: "to_pas"} %></div>
<br>
<div>まだアカウントをお持ちでない方は<%= link_to 'こちら', new_user_path, { class: "to_ac" } %></div>
</div>