.app_title{
  font-size: 50px;
  font-family: ヒラギノ丸ゴ Pro;
  margin-left: 100px;
}
.priv_term_card{
  font-family: ヒラギノ丸ゴ Pro;
  margin-left: 100px;
  margin-top: 60px;
}
.priv_term_card-title{
  margin-top: 20px;
  margin-left: 20px;
}
.priv_term_card .priv_term_card-body{
  top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
  overflow-y: auto;
}
.home{
  font-size: 30px;
  font-family: ヒラギノ丸ゴ Pro;
  font-weight: bold;
  text-decoration: none;
  background: skyblue;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 20px 0px 0px 860px;
}
