<% end_user = notification.end_user %>
<% admin_user = notification.admin_user %>
<ul class="list-group">
<li class="list-group-item">
<input class="form-check-input me-1" type="checkbox" value="save" aria-label="...">
  <% case notification.action %>
  <% when 'information' then %>
  <% if notification.checked == true %>
    <span>【<%= current_user.name %><%= notification.inquiry.email %>より】お問い合わせが届きました</span>
    <span><%= notification.inquiry.message %></span>
  <% end %>
  <% end %>
</li>
</ul>