<h1 class="notifi_title">通知一覧</h1>
<div class="notifi_common-contents">
  <div class="notifi_informations">
    <% if @notifications.exists? %>
      <ul class="notifi_allnotifications-list">
        <%= render @notifications %>
      </ul>
    <% else %>
      <p class="notifi_allnotifications-no">通知はありません</p>
    <% end %>
  </div>
</div>
<%= paginate @notifications %>