.review-index {
  font-family: ヒラギノ丸ゴ Pro;
  text-decoration: none;
}
.genre {
  font-family: ヒラギノ丸ゴ Pro;
}
.side_head{
  padding-top: 20px;
  margin-bottom: 20px;
}
.accordion {
  font-family: ヒラギノ丸ゴ Pro;
  max-height: 35em;
  overflow-y: scroll;
  border-radius: 0 0 15px 15px;
}
.edit-btn {
  margin-left: 30px;
  text-decoration: none;
}
.gen {
  font-family: ヒラギノ丸ゴ Pro;
  text-decoration: none;
}
.delete-btn {
  right: 5px;
  text-decoration: none;
}
.side {
  border-radius: 15px;
  background-color: #afeeee;
  width : 210px;
  max-height: 4.9em;
  text-align: center;
  position: relative;
}

.newregister{
  position   : relative;
}

.register{
  font-family: ヒラギノ丸ゴ Pro;
  position   : absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(0, 0, 0, 0.70);       /* 背景色（透明度） */
  width:70px;                          /* 吹き出し全体の幅 */
  left : 80%;                           /* 表示位置 */
  bottom : -200%;                        /* 表示位置 */
  margin-bottom : 10px;                 /* 表示位置 */
  font-size: 80%;
  color: #FFFFFF;
  border-radius: 5px;
}

.register:after{
  content: "";
  position: absolute;
}
.newregister:hover .register{
  display: block;
}
.genreform {
  font-family: ヒラギノ丸ゴ Pro;
  border-radius: 15px;
  position: absolute;
  top: 80.8px;
  left: 210px;
  display: none;
}
.genreform .gname{
  border-radius: 5px;
}
.genreform .gn_btn{
  border-radius: 5px;
}