<% if @answer.errors.any? %>
  <div id="error_message" class="alert alert-danger">
    <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>