<style>
  .alert {
    font-family: ヒラギノ丸ゴ Pro;
    .success{
      background-color: lightBlue;
    }

    .alert{
      background-color: alert_orange;
    }
  }
</style>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>