<style>
  .alert {
    font-family: YuMincho;
  }
</style>
<% if @inquiry.errors.any? %>
  <div id="error_message" class="alert alert-danger">
    <ul>
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>