<style>

  .side a{
    position: relative;
    height: 100px;
    width: 100px;
  }

  .side {
    background-color: #8fbc8f;
    width:200px;
    height:735px;
    text-align:center;
  }
</style>

<div class="side">

  <svg style="display: none;">
    <symbol id="icon-add" viewBox="0 0 24 24">
      <path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"></path>
    </symbol>
  </svg>

  <span><%= "ジャンル" %></span>
  <span>
  　<!-- フォームが表示されていればこっちのボタン表示  -->
    <% if display %>
    <button id="gbtn", onclick="clickbtn('inline');", class="knopf even pill shade inverse m-">
        <svg class="icon">
          <use xlink:href="#icon-add"></use>
        </svg>
    </button>
    <!-- フォームが表示されていなければこっちののボタンを表示 -->
    <% else %>
    <button id="gbtn", onclick="clickbtn('none');", class="knopf even pill shade inverse m-">
      <svg class="icon">
        <use xlink:href="#icon-add"></use>
      </svg>
    </button>
    <% end %>
  </span>
　<span id="gform">
  <%= form_with model: genre do |form| %>
    <%= form.text_field :name %>
    <%= form.submit "登録" %>
  <% end %>
  </span>
</div>

<script>
　// ボタンの見た目は変わらないが、フォームが表示されているときは非表示ボタンに、フォームが非表示のときは表示ボタンに！
  function clickbtn( disp ) {
    document.getElementById('gform').style.display = disp;
  }

</script>