.notifi_title{
  font-family: ヒラギノ丸ゴ Pro;
  margin-top: 10px;
  margin-left: 10px;
}
.notifi_common-contents{
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 5px;
  width: 90%;
}
.notifi_informations{
  font-family: ヒラギノ丸ゴ Pro;
}
.notif_index_page{
  font-family: ヒラギノ丸ゴ Pro;
  right: 600px;
  font-size: 20px;
  position: fixed;
}