.admin_users_index_title{
  font-family: ヒラギノ丸ゴ Pro;
  margin-top: 10px;
  margin-left: 10px;
}
.admin_users_index_subtitle{
  margin-left: 10px;
  font-family: ヒラギノ丸ゴ Pro;
}
.table {
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  width: 100px;
}
.burning {
  color: #FF0000;
}
.admin_users_index_notifications{
  text-decoration: none;
}
