.qu_index_main{
  display: flex;
  font-family: ヒラギノ丸ゴ Pro;
}

.qu_index_card{
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
.qu_index_card:hover{
  box-shadow: 10px 10px 15px -10px;
}
.qu_index_body{
  font-family: ヒラギノ丸ゴ Pro;
  min-height: 10em;
  max-height: 30em;
  overflow-y: auto;
}
.qu_index_memoryindex{
  width: 1000px;
  margin-left: 20px;
  max-height: 50.5em;
}
.qu_index_accordion {
  font-family: ヒラギノ丸ゴ Pro;
  max-height: 45em;
  overflow-y: scroll;
  border-radius: 0 0 15px 15px;
}
.qu_index_review-index {
  font-family: ヒラギノ丸ゴ Pro;
  text-decoration: none;
}
.createQ{
  font-family: ヒラギノ丸ゴ Pro;
  text-decoration: none;
  left: 1250px;
  font-size: 30px;
  top: 120px;
  position: fixed;
}
.page{
  position: fixed;
  top: 20px;
}
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 20px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 20px;    /*角を丸くする*/
}