.user_register-title {
  font-family: ヒラギノ丸ゴ Pro;
  text-align: center;
  margin-top: 100px;
}
.user_register {
  font-family: ヒラギノ丸ゴ Pro;
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
}
.user_form{
  border-radius: 5px;
}
.user_form_btn{
  border-radius: 5px;
}