.userinfo-title {
  font-family: ヒラギノ丸ゴ Pro;
  text-align: center;
  margin-top: 100px;
}
.user-info {
  font-family: ヒラギノ丸ゴ Pro;
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
}
.user-info .user-info_name{
  margin-bottom: 50px;
}
.user-info .user-info_email{
  margin: 50px 0px 50px 0px;
}