.pas_reset_new_title {
  font-family: ヒラギノ丸ゴ Pro;
  text-align: center;
  margin-top: 100px;
}
.pas_reset_new_form {
  font-family: ヒラギノ丸ゴ Pro;
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
}
.pas_reset_new_email_form{
  border-radius: 5px;
}
.pas_reset_new_submit{
  border-radius: 5px;
}